In [33]:
import pandas as pd
import numpy as np
import functools

In [28]:
food_info = pd.read_csv("food_info.csv")
num_row = food_info.shape[0]

gcol = []
for col in list(food_info.columns):
    if col.endswith('(g)'):
        gcol.append(col)

gcol2 = list(filter(
    (lambda str:str.endswith('(g)')),
    list(food_info.columns)))
print("lol")

food_info["prot_normalized"] = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()
food_info_prot = food_info[["Protein_(g)","prot_normalized"]]

food_info_prot.sort_values(by=['prot_normalized'], ascending=False)

      Protein_(g)  prot_normalized
4991        88.32         1.000000
6155        85.60         0.969203
216         84.63         0.958220
8152        82.60         0.935236
124         82.40         0.932971
...           ...              ...
743          0.00         0.000000
744          0.00         0.000000
745          0.00         0.000000
746          0.00         0.000000
4309         0.00         0.000000

[8618 rows x 2 columns]

In [51]:
toyota = pd.read_csv("toyota.csv")
toyota.describe().applymap(lambda x: round(x))

       Price   Age      KM    HP  MetColor  Automatic    CC  Doors  Weight
count   1439  1441    1440  1446      1446       1446  1446   1446    1446
mean   10728    56   68535   101         1          0  1567      4    1072
std     3624    19   37476    15         0          0   188      1      53
min     4350     1       1    69         0          0  1300      2    1000
25%     8450    44   43000    87         0          0  1400      3    1040
50%     9900    61   63390   110         1          0  1600      4    1070
75%    11950    70   87021   110         1          0  1600      5    1085
max    32500    80  243000   192         1          1  2000      5    1615

In [47]:
toyota.dtypes

Price        float64
Age          float64
KM           float64
FuelType      object
HP             int64
MetColor       int64
Automatic      int64
CC             int64
Doors          int64
Weight         int64
dtype: object